/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;                               /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;          /* приводим все к одной базовой линии */
    background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 30px;                 /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
    text-decoration: none;
}
table {						/* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
    margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
    outline: none;
    font-family: MyriadProLight;
}
input[type="text"], input[type="password"], textarea {
    padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
ul{
    list-style: none;
}
/* --------------- /reset.css --------------- */
h2{
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	font-weight: normal;
}
h1{
	font-size: 40px;
}
h5{
	font-size: 24px;
}
h6{
	font-size: 25px;
	font-weight: normal;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
header{
	background-color: #507191;
	color: #5eb1c6;
	padding: 20px 0;
	font-size: 36px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.info{
	display: flex;
	background-color: #4eabc0;
	padding: 30px 0;
	font-size: 24px;
	color: #fff;
}

.info a{
	color:#507191;
}
.info a:hover{
	color: #444b52;
	transition: 0.5s;
}
.info .container{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
.myPhoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.photo__wrapper{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    border: 5px solid #507191;
}
.info__wrapper__el{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	padding: 10px 0;
}
.info__wrapper__el:last-child{
	display: flex;
	align-items: center;
}
.info__wrapper{
	width: 40%;
}
.about{
	background-color: #f2eadd;
	color: #585858;
	font-size: 24px;
	padding: 40px 0;
}
.about span{
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.about__title__wrapper{
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}
.about__title__wrapper img{
	width: 36px;
	height: 36px;
	padding-right: 20px;
}
.about__el{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #585858;
}
.about__el:last-child{
	margin-bottom: 0;
}
.about__el ul{
	list-style: disc;
	padding-left: 80px;
}
.about__el pre{
	background-color: #D3D3D3;
	padding: 0;
	border-radius: 10px;
	font-size: 16px;
}
.contacts{
	padding: 40px 0;
	background-color: #bc6267;
	color: #fff;
}
.contacts span{
	font-size: 36px;
	font-weight: bold;
}
.contacts__title{
	display: flex;
	align-items: center;
}
.contacts__title img{
	width: 36px;
	height: 36px;
	padding-right: 20px;
}
footer{
	background: #507191;
	color: #fff;
	font-size: 18px;
	padding: 15px 0;
	display: flex;
	align-items: center;
}